/* beforeHeader.css */

.beforeHeader {
  width: 100%; /* Ширина всего блока .beforeHeader */
}

.first {
  width: 100%; /* Ширина блока .first */
}

.first > ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.first > ul > li {
  background: rgb(244 239 242);
}

.first > ul {
  margin: 0 auto;
  display: flex;
}

.first > ul > li > a {
  margin: 0 0 50px 0;
  height: 40px;
  font-size: 11px;
  padding: 0 0 0 0;
  color: #1a1c1d;
  font-weight: bolder;
}

.newsImage {
  width: 100px; /* Укажите необходимую ширину для изображения */
  height: 100px; /* Укажите необходимую высоту для изображения */
  margin: 0 0 0 0; /* Отступ между изображением и текстом */
}

.first a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #221f1f;
  font-size: 8px;
  font-weight: 800;
}

.first li {
  display: flex;
  align-items: center;
}

@media (max-width: 414px) {
  .first > ul {
    width: 100%;
    max-width: 373px; /* Максимальная ширина .first > ul в портретной ориентации */
    flex-wrap: wrap;
  }
  .first ul > li {
    width: 100%;
    margin: 5px 0;
  }
  .first a {
    font-size: 12px;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  .first > ul {
    width: 412px; /* Ширина .first > ul в портретной ориентации и ширине экрана 414px */
    flex-wrap: wrap;
  }
  .first ul > li {
    width: 100%;
    margin: 5px 0;
  }
  .first a {
    font-size: 12px;
  }
}

/* Стили для ландшафтной ориентации iPhone 11 */
@media (max-width: 414px) and (orientation: landscape) {
  .first > ul {
    width: 100%;
    max-width: 373px; /* Максимальная ширина .first > ul в ландшафтной ориентации */
    flex-wrap: wrap;
  }
  .first ul > li {
    width: 100%;
    margin: 5px 0;
  }
  .first a {
    font-size: 12px;
  }
}

/* beforeHeader.css */

/* ... Ваши основные стили */

/* Стили для портретной ориентации iPhone 11 с шириной экрана 414px */
@media (max-width: 414px) and (orientation: portrait) {
  .first > ul {
    width: 412px; /* Ширина .first > ul в портретной ориентации и ширине экрана 414px */
    flex-wrap: wrap;
  }
  .first ul > li {
    width: 100%;
    margin: 5px 0;
  }
  .first a {
    font-size: 12px;
  }
}

/* Стили для ландшафтной ориентации iPhone 11 */
@media (max-width: 414px) and (orientation: landscape) {
  .first > ul {
    width: 100%;
    max-width: 373px; /* Максимальная ширина .first > ul в ландшафтной ориентации */
    flex-wrap: wrap;
  }
  .first ul > li {
    width: 100%;
    margin: 5px 0;
  }
  .first a {
    font-size: 12px;
  }
}

/* beforeHeader.css */

/* ... Ваши основные стили */

/* Стили для портретной ориентации iPhone 11 с шириной экрана 414px */
@media (max-width: 414px) and (orientation: portrait) {
  .first > ul {
    width: 412px; /* Ширина .first > ul в портретной ориентации и ширине экрана 414px */
    flex-wrap: wrap;
  }
  .first ul > li {
    width: 100%;
    margin: 2px 0;
  }
  .first a {
    font-size: 12px;
  }
}

/* Стили для ландшафтной ориентации iPhone 11 */
@media (max-width: 414px) and (orientation: landscape) {
  .first > ul {
    width: 100%;
    max-width: 373px; /* Максимальная ширина .first > ul в ландшафтной ориентации */
    flex-wrap: wrap;
  }
  .first ul > li {
    width: 100%;
    margin: 5px 0;
  }
  .first a {
    font-size: 12px;
  }
}

/* Ваши стили для ширины экрана от 415px до 827px */
@media (min-width: 415px) and (max-width: 827px) {
  .first > ul {
    width: 100%;
    max-width: 827px; /* Максимальная ширина .first > ul на устройствах от 415px до 827px */
    flex-wrap: wrap;
  }
  .first ul > li {
    width: 100%;
    margin: 5px 0;
  }
  .first a {
    font-size: 12px;
  }
}

@media (max-width: 896px) and (orientation: landscape) {
  /* .newsContetnt{
    height: 111px;
    overflow: hidden;
  } */
  .first > ul {
    height: 108px;
  }
  .first li {
    padding: 0px 0 0 0;
    display: flex;
  }

  .first a {
    height: 102px;
    padding: 0 0 0 0;
    display: inline-flex;
  }
}
