/* beforeHeader.css */

.beforeHeader {
  width: 100%; /* Ширина всего блока .beforeHeader */
}

.first {
  width: 100%; /* Ширина блока .first */
}

.first > ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.first > ul > li {
  background: rgb(244 239 242);
}

.first > ul {
  margin: 0 auto;
  display: flex;
}

.first > ul > li > a {
  margin: 0 0 50px 0;
  height: 40px;
  font-size: 11px;
  padding: 0 0 0 0;
  color: #1a1c1d;
  font-weight: bolder;
}

.newsImage {
  width: 100px; /* Укажите необходимую ширину для изображения */
  height: 100px; /* Укажите необходимую высоту для изображения */
  margin: 0 0 0 0; /* Отступ между изображением и текстом */
}

.first a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #221f1f;
  font-size: 10px;
  font-weight: 800;
  display: block;
}

.first li {
  display: flex;
  align-items: center;
}

@media (max-width: 414px) {
  .first {
    max-width: 414px;
  }
  .first > ul {
    margin: 0 auto;
    display: block;
    width: 412px;
  }
  .first > a {
    cursor: pointer;
    text-decoration: none;
    display: block;
    height: 90px;
    overflow: hidden;
    padding: 0 0;
    display: block;
    font-size: 11px;
  }
}
@media (min-width: 415px) and (max-width: 896px) {
  .first {
    max-width: 896px;
  }
  .first > ul {
    margin: 0 auto;
    display: flex;
    width: 894px;
  }
  .first a {
    cursor: pointer;
    text-decoration: none;

    display: block;
    height: 88px;
    overflow: hidden;
    padding: 0 0;
    font-size: 13px;
  }
}
