.first > ul > li {
  background: rgb(244 239 242);
}

.first > ul {
  margin: 0 auto;
  display: inline-block;
}
.first > ul > li > a {
  margin: 0 0 50px 0;
  height: 40px;
  font-size: 11px;
  padding: 0 0 0 0;
  color: #1a1c1d;
  font-weight: bolder;
}

.oneNews:hover {
  color: blue;
  background: rgb(236, 230, 230);
}

.twoNews:hover {
  color: blue;
  background: rgb(236, 230, 230);
}
.threeNews:hover {
  color: blue;
  background: rgb(236, 230, 230);
}
.fourNews:hover {
  color: blue;
  background: rgb(236, 230, 230);
}
.fiveNews:hover {
  color: blue;
  background: rgb(236, 230, 230);
}
.sixNews:hover {
  color: blue;
  background: rgb(236, 230, 230);
}

.oneNews:hover a {
  color: rgb(62, 62, 245);
  text-decoration: underline 1px solid rgb(228, 166, 241);
}
.twoNews:hover a {
  color: rgb(62, 62, 245);
  text-decoration: underline 1px solid rgb(228, 166, 241);
}
.threeNews:hover a {
  color: rgb(62, 62, 245);
  text-decoration: underline 1px solid rgb(228, 166, 241);
}
.fourNews:hover a {
  color: rgb(62, 62, 245);
  text-decoration: underline 1px solid rgb(228, 166, 241);
}
.fiveNews:hover a {
  color: rgb(62, 62, 245);
  text-decoration: underline 1px solid rgb(228, 166, 241);
}
.sixNews:hover a {
  color: rgb(62, 62, 245);
  text-decoration: underline 1px solid rgb(228, 166, 241);
}

.beforeHeader {
  width: 100%; /* Ширина всего блока .beforeHeader */
}

.first {
  width: 100%; /* Ширина блока .first */
}

.first ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.first li {
  flex: 1; /* Равномерное распределение пространства между элементами <li> */
}

.newsImage {
  width: 100px; /* Укажите необходимую ширину для изображения */
  height: 100px; /* Укажите необходимую высоту для изображения */
  margin: 0 0 0 0; /* Отступ между изображением и текстом */
}

.first a {
  flex: 1; /* Растягивание текста на всю доступную ширину */
  color: red;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  justify-content: right;
}

.first li {
  display: flex; /* Используем flex для расположения элементов внутри <li> */
  align-items: center; /* Выравниваем элементы по вертикали по центру */
  text-overflow: ellipsis;
  overflow: hidden;
}

.newsImage {
  width: 100px;
  height: 100px;
}

.first a {
  flex: 1; /* Занимаем все доступное пространство по горизонтали */
  color: red;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 827px) {
  .first > ul {
    width: 827px;
  }
  .first ul > li {
    width: 164px;
  }
  .first a {
    font-size: 12px;
  }
  
}

/* Ваши стили для ширины экрана меньше 574px */
@media (max-width: 574px) {
  .first > ul > li {
    display: block;
  }
  .first > ul > li > a {
    padding: 0px 0px 4px 0px;
  }
}
