/* Общие стили */

.main {
  display: flex;
  width: 100%;
}

.mainLeft {
  border: 2px solid #cfc2c2;
  width: 800px;
  margin: 6px 6px 6px 6px;
  border-radius: 4px;
  /* padding: 0 0 0 6px; */
  background: #fffefc;
  height: 540px;
}

.mainLeftLink {
  text-decoration: none; /* Відсутність підкреслення тексту за замовчуванням */
}

.mainLeftLink:hover .mainLeftText {
  text-decoration: underline;
}

.mainRight {
  border: 2px solid #cfc2c2;
  width: 430px;
  margin: 6px 6px 6px 6px;
  border-radius: 4px;
  /* padding: 0 0 0 0px; */
  background: #fffefc;
  display: flex; /* Додаємо flex для вирівнювання елементів всередині */
}

.mainRightLink {
  text-decoration: none;
  display: flex; /* Додаємо flex для вирівнювання елементів всередині */
  /* align-items: center; */
  width: 364px;
  padding: 16px 0 0 66px;
}

.mainRightText {
  color: black;
  font-size: 12px;
}

.mainRightLink > img {
  height: 200px;
  margin: -16px 0 0 -66px;
}

.mainRightText {
  color: black;
  font-size: 12px;
  width: 228px;
  padding: 2px 2px 2px 2px;
}

.mainRight > ul > li {
  height: 200px;
  background: antiquewhite;
}

.mainRight > ul > li.pogoda {
  margin: 0 0 0 -2px;
  width: 422px;
  height: 66px;
  border: 1px solid green;
  background: #9ce4e4;
  text-transform: uppercase;
}

li.pogoda {
  font-size: 12px;
}

li.pogoda > h3 {
  margin: 4px 244px 0 0px;
}

span {
  color: red;
  font-size: 20px;
}

.mainRightLink:hover .mainRightText {
  text-decoration: underline;
}

.mainRightLink:hover {
  background: #f7f7f7; /* Новий колір фону при наведенні */
}

/* Медиазапросы */
@media (max-width: 414px) {
  .main,
  .leftSide {
    display: block;
    width: 412px;
  }
  .mainLeft {
    width: 412px;
    margin: 0 0 0 0;
    border: 0;
    height: 436px;
  }

  .mainLeftLink {
    width: 412px;
    display: inline-block;
  }
  .mainLeftLink > img,
  .mainRight > ul > li {
    width: 412px;
  }
  .mainRightImage {
    width: 412px;
    margin: 0 auto;
  }
  .mainLeftText {
    width: 412px;
    margin: 0 0 0 0;
  }
  .mainRight {
    border: 0;
    width: 412px;
    margin: 0 0 0 0;
    border-radius: 4px;
    padding: 0 0 0 0px;
    display: block;
  }
  .mainRightText {
    padding: 2px 2px 20px 2px;
  }
  .mainRightLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 346px;
    padding: 16px 0 0 66px;
    height: 192px;
    /* padding: 16px 0 0 66px; */
  }
  .mainRightLink > img {
    height: 200px;
    margin: -20px 0 0 -65px;
  }
  .mainRight > ul > li.pogoda {
    margin: 12px 0 0 0;
    width: 412px;
  }
  li.pogoda > h3 {
    margin: 18px 20px 0 0px;
    color: #bc9999;
  }
  li.pogoda > h4 {
    margin: 0 0 0 0;
    color: #4530da;
  }
}
